<section id="modal">
    <div id="card">
        <div id="head" >
            <h2>Confirmação</h2>
            <a id="close" href="/task/<%= userId %>"><i class="bi bi-x-circle"></i></a>
        </div>
        <hr>
        <p>Deseja mesmo apagar a tarefa: "<%= task.task %>" ?</p>
        <div id="btnConfirmations">
            <a id="btnNot" href="/task/<%= userId %>">Não</a>
            <a id="btnYes" href="/task/deleteOne/<%= task._id %>/<%= userId %>">Sim</a>
        </div>
    </div>
</section>